
.hide {
    display: none;
}
    

body {
    background-color: black;
    font-family: monospace;
    color: green;
    padding: 20px;
}

p {
    color: green;
    margin: 10px 0;
    font-size: 30px;
}